
*.lock
*.lock
.vs/CVTest1/v16/.suo
.vs/CVTest1/v16/Server/sqlite3/storage.ide
.vs/CVTest1/v16/Server/sqlite3/storage.ide-shm
.vs/CVTest1/v16/Server/sqlite3/storage.ide-wal
CVTest1/bin/Release/CVTest1.exe
CVTest1/bin/Release/CVTest1.exe.config
CVTest1/bin/Release/CVTest1.pdb
CVTest1/bin/Release/dll/x64/opencv_ffmpeg400_64.dll
*.ide-shm
*.dll
*.pdb
*.xml
*.cache
*.CopyComplete
CVTest1/obj/Release/CVTest1.csproj.FileListAbsolute.txt
CVTest1/obj/Release/CVTest1.exe
CVTest1/obj/Release/CVTest1.Form1.resources
CVTest1/obj/Release/CVTest1.Properties.Resources.resources
CVTest1/opencv_annotation.exe
CVTest1/opencv_interactive-calibration.exe
CVTest1/opencv_version.exe
CVTest1/opencv_version_win32.exe
CVTest1/opencv_visualisation.exe
packages/OpenCvSharp3-AnyCPU.4.0.0.20181129/.signature.p7s
packages/OpenCvSharp3-AnyCPU.4.0.0.20181129/build/OpenCvSharp3-AnyCPU.props
packages/OpenCvSharp3-AnyCPU.4.0.0.20181129/OpenCvSharp3-AnyCPU.4.0.0.20181129.nupkg
